<html>
<script type="text/javascript">
function updateValue() {
    var jsonrequest = document.getElementById('jsonrequest')
    var solution = document.getElementById('solution')
    var tests = document.getElementById('tests')
    var obj = {solution: solution.value, tests: tests.value}
    jsonrequest.value = JSON.stringify(obj)
}
</script>
<body>
<h2>JSP verifier</h2>

<br>
Solution code:<br>
<textarea id="solution" rows="10" cols="80">
<%@ page import="java.util.*, java.text.*" %>
<HTML>
<HEAD>
<TITLE>Hello Pineapples</TITLE>
</HEAD>
<BODY>
	<H1>Hello World</H1>
	<TABLE>
		<TR>
			<TD>
				<P>
					This is an <B>embedded</B> table
				</P>
			</TD>
		</TR>
		<TR>
			<TD>
				The request parameter 'fruit' has a value of <%= request.getParameter("fruit") %>
			</TD>
		</TR>
	</TABLE>
	Today is: <%= new SimpleDateFormat("dd/MM/yyyy").format(new Date()) %>
</BODY>
</HTML>
			</textarea>

<br>
Tests:<br>
<textarea id="tests" rows="10" cols="80">
String expectedDate = new SimpleDateFormat("dd/MM/yyyy").format(new Date());
page().shouldHaveTitle("Hello Pineapples");
page().shouldContain("Today is: "+expectedDate);
onRequest("fruit", "guava").page().shouldContain("The request parameter 'fruit' has a value of guava");
page().shouldContainElement("//TABLE/TR/TD/P/B");
element("//TABLE/TR/TD/P/B").shouldContain("embedded");
</textarea>
<form action="/jsp" method="POST">
<input type="hidden" name="jsonrequest" id="jsonrequest"/>
<input type="submit" onclick="updateValue()"></input>
</form>
</body>
</html>

